@model List<ArticleDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

@foreach(var article in Model)
{
    <h1>@article.Title</h1>
    <br/>
    <br/>
    <br/>
    <h2>@article.Content</h2>
    <br />
    <br />
    <br />
    <h2>@article.CreatedDate</h2>
}